<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>JavaScript feature matrix</title>
        <link href="main.css" type="text/css" rel="stylesheet">
        <script>
            var isJsonAvailable = (typeof JSON === "object" && JSON !== null);
        </script>
        <script src="lib/jquery.min.js"></script>
        <script src="lib/underscore-min.js"></script>
        <script src="lib/json2-min.js"></script>
        <script src="matrix_content.js"></script>
        <script>
            (function (global) {
                var supportKeys = matrix.spec[""];

                var tableStart = (
                        '<table class="framed">'
                        + "<tr><th>Functionality</th><th>Standard</th><th>This browser</th>"
                        + _.reduce(supportKeys, function (result, cur) { return result + "<th>" + cur + "</th>" }, "")
                        + "</tr>"
                );
                var tableRow = '<tr><td><%=name%></td><td><%=version%></td><td class="<%=result===1?"result1":"result0"%>"><%=result%></td><% _.forEach(matrix.spec[obj.key], function (supportedVersion) { %><td><%=supportedVersion%></td><% }); %></tr>\n';
                var tableEnd = '</table>';

                $(document).ready(function () {
                    var rowTemplate = _.template(tableRow);

                    var statistics = {};

                    var html = "";
                    _.forEach(matrix.tests, function (test) {
                        if (typeof test === "string") {
                            var insideTable = (html.length > 0);
                            if (insideTable) {
                                html += tableEnd;
                            }
                            html += "<h2>"+test+"</h2>";
                            html += tableStart;
                        } else {
                            var data = _.extend({}, test); // copy
                            var resultBool;
                            if (test.isTypeof) {
                                data.name = "<tt>"+test.name+"</tt>";
                                resultBool = typeof eval(test.name) === test.isTypeof;
                            } else if (test.object) {
                                data.name = "<tt>"+test.name + ": "+test.methods.join(", ")+"</tt>";
                                resultBool = checkMethods(test);
                            } else {
                                try {
                                    resultBool = test.check();
                                } catch (e) {
                                    resultBool = false;
                                }
                            }
                            var resultNumber = (resultBool ? 1 : 0);
                            statistics[test.key] = resultNumber;
                            data.result = resultNumber;
                            if (html.length === 0) {
                                html = tableStart;
                            }
                            html += rowTemplate(data);
                        }
                    });
                    $("#testResults").append(html);

                    $("#browserStats").text(
                            navigator.userAgent + "\n" +
                            JSON.stringify(statistics, null, 4));

                    var autorun = (window.location.search.indexOf("autorun=1") >= 0);
                    if (autorun) {
                        submit();
                    }
                    $("#submit").click(function () {
                        submit();
                    });
                    global.browserScopeSubmitted = function () {
                        var text = (autorun ? "Autorun mode. Submitted" : "Your data has been submitted. Thank you!");
                        $("#submissionFeedback").html(text);
                    }

                    var hasBeenSubmitted = false;
                    function submit() {
                        if (hasBeenSubmitted) {
                            alert("Please reload page to submit again");
                        } else {
                            document.getElementById("submit").disabled = true;
                            hasBeenSubmitted = true;
                            submitToBrowserscope(statistics);
                        }
                    }
                });

                function submitToBrowserscope(statistics) {
                    global._bTestResults = statistics;

                    // Beacon the results to Browserscope.
                    (function(document) {
                      var testKey = 'agt1YS1wcm9maWxlcnINCxIEVGVzdBjVsNcQDA';
                      var newScript = document.createElement('script'),
                          firstScript = document.getElementsByTagName('script')[0];
                      newScript.src = 'http://www.browserscope.org/user/beacon/' + testKey + '?callback=browserScopeSubmitted';
                      firstScript.parentNode.insertBefore(newScript, firstScript);
                    }(document));
                }

                function checkMethods(test) {
                     var obj = test.object;
                     var methodNames = test.methods;
                     var methodCount = 0;
                     _.forEach(methodNames, function (methodName) {
                         if (typeof obj[methodName] === "function") {
                             methodCount++;
                         }
                     });
                     return methodCount === methodNames.length;
                }
            }(this));
        </script>
    </head>
    <body>
        <h1>JavaScript feature matrix</h1>

        This matrix tracks which JavaScript language features are supported by which browsers. There are three ways in which you can contribute:
        <ul>
            <li>Contribute feature tests: Is there a language feature that once caused you problems by not being supported in a browser?
            </li>
            <li>Contribute matrix data: There is a Google spreadsheet for managing the data. Contact me and I’ll give you access.
            </li>
            <li>Submit your browser’s results: See section at the end of this page.</li>
        </ul>
        GitHub: <a href="https://github.com/rauschma/js-feature-matrix">js-feature-matrix</a>. Contact: <tt>axel AT rauschma DOT de</tt> or <a href="https://twitter.com/rauschma"><tt>@rauschma</tt></a>.

        <div id="testResults"></div>

        <h2>Background material</h2>

        On 2ality:
        <ul>
            <li><a href="http://www.2ality.com/2011/01/javascripts-strict-mode-summary.html">JavaScript’s strict mode: a summary</a></li>
            <li><a href="http://www.2ality.com/2011/10/strict-mode-hatred.html">JavaScript: Why the hatred for strict mode?</a> [explains named function expressions]</li>
            <li><a href="http://www.2ality.com/2011/01/reflection-and-meta-programming-in.html">Reflection and meta-programming in JavaScript</a> [getters and setters]</li>
            <li><a href="http://www.2ality.com/2011/06/object-literal-comma.html">Quick JavaScript tip: trailing commas inside an object literal</a></li>
            <li><a href="http://www.2ality.com/2011/08/json-api.html">JavaScript’s JSON API</a></li>
        </ul>
        Other material:
        <ul>
            <li>“<a href="http://kangax.github.com/nfe/">Named function expressions demystified</a>” by kangax.</li>
        </ul>

        <h2>Acknowledgement</h2>

        This work is greatly indebted to “<a href="http://kangax.github.com/es5-compat-table/">ECMAScript 5 compatibility table</a>” by <a href="https://twitter.com/kangax/">kangax</a>,
        which inspired the structure of the table and provided some of the matrix data.

        <h2>Submit your results</h2>

        You can submit your browser’s results to <a href="http://www.browserscope.org/">Browserscope</a>. The collected results are <a href="http://www.browserscope.org/user/tests/table/agt1YS1wcm9maWxlcnINCxIEVGVzdBjVsNcQDA?v=3&layout=simple">online</a>.
        <p>
        <input id="submit" value="Submit following data" type="button">

        <p>

        <div id="submissionFeedback"></div>

        <pre id="browserStats"></pre>

    </body>
</html>
