#submissionFeedback {
    background-color: yellow;
}

/****** Tables *****/

td, th {
    text-align: left;
    vertical-align: text-top;
}
table.framed {
    border-collapse: collapse;
}
table.framed td, table.framed th {
    border: thin solid black;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.6em;
    padding-right: 0.6em;
}
.result1 {
    background-color: green;
}

.result0 {
    background-color: red;
}